.cch-footer {
	text-align: center;
}

.cch-breadcrumb {
	margin: 1.2em 0;
}

.cch-root-content {
	padding: 0 3.0em;
}

.cch-content {
	background: $layoutContentBgC;
	padding: 1.6em;
	min-height: 20em;
}